/*
Author: Kaysi Schwartz
File Name: styles.css
Date: 11/04/2024
*/

/*CSS Reset resets CSS values that may be automatically predetermined by your browser*/
body,
header,
nav,
main,
footer,
li,
div,
img,
ul,
article,
section,
aside,
figure,
figcaption,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

/*body*/
body {
    background-color: #e6ffff;
}

aside {
    width: 20%;
    background-color: #c0c0ff;
}

figcaption {
    font-size: 16px;
    color: #2a2ab8;
}

.grid {
    column-count: 2;
}

/*images*/
img,
video {
    max-width: 100%;
    display: block;
}

/*lists*/
ul {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

/*links*/
a:active {
    background-color: #b3b3ff;
    color: #000033;

    /* Style rules for mobile viewport */
}

/*Header*/

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    background: linear-gradient(to bottom, #2a2ab8, #e6ffff);
    height: 190px;
}

#hero {
    margin: 0 auto;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    color: #000033;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}

header h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5;
    font-style: italic;
    color: #000033;
}


/*Nav*/
nav {
    background-color: #000033;
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.75em;
    border-top: 1px solid #fff;
    font-family: 'Francois One', sans-serif;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #e6ffff;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav li a:hover {
    background-color: #e6ffff;
    color: #000033;
}

/*table*/

table {
    border-collapse: collapse;
    margin: 0, auto;
}

caption {
    text-decoration: underline;
    font-weight: bold;
}

table,
th,
tr,
td {
    border: solid;
    border-color: #000033;
}

.row_even {
    background-color: #c0ffff;
}

/*form*/

form {
    background-color: #c0ffff;
}

fieldset {
    border: solid;
    border-color: #000033;
}



/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* Media Query for Tablet Viewport*/
@media screen and (min-width: 481px) and (max-width: 768px),
print {

    /* Tablet viewport: show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet viewport: style rule for header */
    header {
        position: static;
        padding-bottom: 2%;
    }

    /* Tablet viewport: style rule for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.75em;

        /* Tablet viewport: style rules for main content area */
        main ul {
            margin: 0 0 4% 10%;
        }

        .map {
            width: 600px;
            height: 450px;
        }

        /*Tablet viewport rules for table*/

        table {
            border-collapse: collapse;
            margin: 0, auto;
        }

    }

}

/* Media Query for desktop viewport */
@media screen and (min-width: 769px) and (max-width: 1279px),
print {

    /* Desktop viewport: show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Desktop viewport: style rule for header */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
    }

    /* Desktop viewport: style rule for nav area */
    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        border: none;
    }

    nav li a {
        padding: 0.5em 1em;
    }

    /* Desktop viewport: style rules for main content area */
    main {
        clear: left;
    }

    main h1 {
        font-size: 1.8em;
    }

    /* Desktop viewport: style rules for table*/

    table {
        border-collapse: collapse;
        margin: 0, auto;
    }

}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width: 1280px),
print {

    /* Large Desktop viewport: show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    #container {
        width: 1920px;
        margin: 0 auto;
    }

}

/* Media Query for Print */
@media print {

    /* Print viewport: show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    body {
        background-color: #fff;
        color: #000;
    }

}


/*Main*/
main {
    padding: 2%;
    font-size: 1.15em;
    font-family: 'Roboto Slab', serif;
    border: 1px solid #000;
    border-radius: 5px;
}

.tel-link a {
    text-decoration: none;
    display: block;
}

.hours {
    margin-left: 10%;
}

.map {
    border: 2px #01516b;
    border-style: groove;
    width: 95%;
    height: 50%;
}

#dogBath {
    border: 10px #01516b;
    border-style: groove;
    border-radius: 2px;
}


/*Footer*/

footer {
    background-color: #000033;
    width: 100%;
    margin: 5em 3em 0 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    color: #e6ffff;
    padding: 0 1em;
}

footer li {
    display: inline-block;
    font-size: 1em;
    color: #e6ffff;
}

footer li a {
    display: block;
    color: #e6ffff;
    padding: 0.5em 1em;
    text-decoration: none;
}

.socials {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    justify-content: center;
}


footer div a img {
    width: 40px;
    padding: 1em;
}